*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}


/*Navigation Menu*/
.navbar-brand img{
    width: 10%;
}
.navbar-light .navbar-nav .nav-link {
    color: #212529;
    font-weight: 500;
}

.fixed-top.scrolled {
    background-color: rgb(222, 224, 230) !important;
    transition: background-color 200ms linear;
  }


  /*Hero Section*/
  .masthead {
    height: 100vh;
    background: linear-gradient(to bottom, rgba(223, 143, 219, 0.233) 0%, rgba(247, 182, 241, 0.233) 100%), 
                url("../img/hero-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-caption i.fa-facebook{
    background-color: #3b5998;
    color:#fff ;
    padding: 8px;
    border-radius: 50px;
}

.carousel-caption i.fa-instagram{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    padding: 8px;
    border-radius: 50px;
}

.carousel-caption i.fa-linkedin-in{
    background-color:  #0e76a8;
    padding: 8px;
    border-radius: 50px;
}

.modal-dialog {
    max-width: 800px;
}

.modal-header img{
    width: 5%;
}
.modal-body{
 background-image: repeating-linear-gradient(to right, #206DD4, #0099ff5b);
 padding-right: 30px;
}

.register-item{
 
    background: white;
}
.register-info img{
    width: 30%;
}

.login-section{
    background-image: repeating-linear-gradient(to right, #206DD4, #0099ff5b);
}

.font-weight-bold.forgot {
    font-weight: 700!important;
    font-size: 10px;
}



/*About Us*/
.main_heading,
.channel-section{
    background: #d1cde934;
}

hr.light {
    border-color:black;
}

hr.divider {
    max-width: 3.25rem;
    border-width: 0.2rem;
}


/*Quality Section*/
.quality-section i.fas{
    opacity: .5;
}

.team-section{
    background:repeating-linear-gradient(to right, #aeccf3d5, #d4eeffd3),
     url("https://images.pexels.com/photos/1209843/pexels-photo-1209843.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
     background-position: center;
      
}


/*Pagination*/
div.page-hero {
    height: 100vh;
    background: linear-gradient(to bottom, #d8bada8e,#130e1285), 
                url("https://images.pexels.com/photos/3830745/pexels-photo-3830745.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-repeat: no-repeat;
    background-size: cover;
}

.pagination-caption{
    
    background-color: rgba(0, 0, 0, 0.473);
    box-shadow:8px 10px 10px rgba(0, 0, 0, 0.774) ;
}
.table-dark{
    border: 1px solid rgba(0, 0, 0, .11);
    padding: 10px;
}

.controls-item {
    display: inline-block;
}

.btn {
    margin: -2px;
}
